<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="../assets/img/2766245.jpg">
            </div>
            <a href="#user"><img class="circle" src="../assets/img/user.jpg"></a>
            <a href="#name"><span class="white-text name">Russel Willials</span></a>
            <a href="#email"><span class="white-text email">email@utilisateur.com</span></a>
        </div>
    </li>
    <li><a href="#!"><i class="material-icons">power_settings_new</i>Déconnexion</a></li>
    <!-- <li><a href="#!">Second Link</a></li> -->
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Services</a></li>
    <!-- <li><a class="subheader">Services</a></li> -->
    <li><a class="waves-effect" href="@Url.Action("Index","Immeuble")">Immeubles</a></li>
    <li><a class="waves-effect" href="@Url.Action("Index","Proprietaire")">Propriétaires</a></li>
    <li><a class="waves-effect" href="@Url.Action("Index","Locataire")">Locataires</a></li>
    <li><a class="waves-effect" href="@Url.Action("Index","Payement")">Paiements</a></li>
    <li><a class="waves-effect" href="@Url.Action("Index","Retrait")">Retrait</a></li>
</ul>
